<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="stylesheet" href="/css/flash.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>

                <div id="errBox" role="alert">
                    <h4>
                        <%=err.statusCode%>
                            <%=err.message%>
                    </h4>
                    <pre>
                    <%= err.stack %>
                </pre>
                </div>