<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/flash.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>
                <div id="main">
                    <!-- <div id="wordlist">
                        <ul>
                            <% if (publicList && publicList.words.length) {%>
                                <li> A list of random words: </li>
                                <hr>
                                <a href="/user/<%=publicList.owner.username%>">
                                    <% for (word of publicList.words) {%>
                                        <li>
                                            <% if (word.Kanji.length) {%>
                                                <%=word.Kanji[0] %>
                                                    <% } else {%>
                                                        <%=word.Reading[0] %>
                                                            <% } %>
                                        </li>
                                        <hr>
                                        <% } %>
                                </a>
                                <% } else {%>
                                    <li>No data to display.</li>
                                    <%} %>
                        </ul>
                    </div> -->
                    <div id="haiku">
                        <hr>
                        <div id="haikuBoxKanji" class="traditional-vertical-writing haikuBoxUnit">
                            <ruby> 蝸牛 <rt>かたつむり</rt> </ruby><br>そろそろのぼれ<br><ruby>富士<rt>ふじ</rt></ruby>の<ruby>山<rt>やま</rt>
                            </ruby>
                        </div>
                        <hr>
                        <div id="haikuBoxMeaning" class="haikuBoxUnit">
                            O snail, <br> slowly climb<br> Mount Fuji
                        </div>
                        <hr>

                    </div>
                    <div id="right">
                        <a class="submitButton" href="/wordle">Play Japanese Wordle</a>
                        <a class="submitButton" href="/haiku/add">Write a Haiku</a>
                    </div>
                </div>