<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/flash.css">
    </head>

    <body>
        <%- partial('partials/navbar') %>
            <%- partial('partials/flash') %>
                <div id="profileContent">
                    <div id="left">
                        <div id="profileBox">
                            <h2>
                                <%=getUser.username %>
                            </h2>
                            <hr>
                            <h3>
                                <%=getUser.email %>
                            </h3>
                            <hr>
                            <h4>
                                <%=getUser.totalWords%> words in <%=getUser.lists.length%> lists
                            </h4>
                            <hr>
                            <a href="/logout" id="logout"><button class="submitButton">Log Out</button></a>
                        </div>
                        <div id="wordBox">
                            <h2>ここで一つ単語だ</h2>
                        </div>
                    </div>

                    <div id=right>
                        <!-- <form action="">
                                <input type="checkbox" id="selectAll">
                            </form>
                            Default List
                            <br> -->

                        <table>
                            <tr>
                                <th colspan="4">Default List</th>
                            </tr>
                            <% getLists.some(x=>{if (x.name === 'Default'){%>
                                <% x.words.forEach((word, index)=> {%>
                                    <% if (index%4===0) {%>
                                        <% if (index>0) {%> </tr>
                                            <% }; %>
                                                <tr>
                                                    <% }; %>
                                                        <td>
                                                            <% if (word.Kanji.length) {%>
                                                                <%= word.Kanji %>
                                                                    <% } else {%>
                                                                        <%= word.Reading %>
                                                                            <% } %>
                                                        </td>
                                                        <% }); %>
                                                </tr>
                                                <% return true; }}); %>
                        </table>

                        <div id="listBox">
                            Lists here
                        </div>
                    </div>

                </div>

                <%- partial('partials/listSelect') %>